:root {
    --primary-color: #0071a1;
    --secondary-color: #000000;
    --dark-mode-primary-color: #0071a1;
    --dark-mode-secondary-color: #ffffff;
  }
  
  body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font: bold 2rem 'Open Sans', sans-serif;
  }
  
  body.dark-mode {
    background-color: #000000;
    color: var(--dark-mode-secondary-color);
  }

  .dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .dark-mode-toggle:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  
  
  .todo {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 15px;
  }
  
  .todo__title {
    font: normal 3rem 'Bungee';
    display: flex;
    background-color: var(--secondary-color);
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-shadow: 1px 1px 5px var(--secondary-color);
    color: var(--primary-color);
  }
  
  .todo__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
  
  .todo__item {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 1px 1px 5px var(--secondary-color);
    background-color: var(--primary-color);
    transition: background-color 0.3s ease, color 0.3s ease; /* Adicionado transição para a cor do texto */
    color: var(--secondary-color);
  }
  
  .todo__item > div {
    width: 80%;
    color: var(--secondary-color);
  }
  
  .todo__item:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  
  .todo__item:hover > div {
    color: var(--primary-color);
  }
  
  .todo__item > input[type='text'] {
    border: none;
    width: 80%;
    font: inherit;
    color: var(--secondary-color);
  }
  
  .todo__item > input[type='button'],
  .todo__item > input[type='checkbox'] {
    width: 30px;
    height: 30px;
    font: inherit;
    color: var(--secondary-color);
  }
  
  .todo__item > input[type='checkbox']:checked + div {
    text-decoration: line-through;
  }
  
  .todo__new-item {
    display: flex;
    background-color: var(--primary-color);
    width: 100%;
    height: 70px;
    justify-content: space-evenly;
    padding: 10px 0;
    box-shadow: 1px 1px 5px var(--secondary-color);
    margin: 10px;
    font: inherit;
  }
  
  .todo__new-item > input {
    text-align: center;
    background-color: var(--primary-color);
    border: none;
    width: 80%;
    outline: none;
    font: inherit;
    color: var(--secondary-color);
  }
  
  .todo__new-item > input::placeholder {
    font-style: italic;
    font-weight: normal;
    color: var(--secondary-color);
  }  